In [1]:
import pandas as pd
import numpy as np
import random
from grouping import grouping
from rating import rate

In [2]:
# Create a column of names
names = pd.DataFrame({"name": ["Roman Tsypin", "Eric Telkkälä", "Topi Aila", "Samantha Bergdahl", "Cezar Budeci", "Tuuli Tapaninen", "Kaisa Otterklau", "Humble Harambe", "Moms Spaghetti", "Sanna Marin", "Wide Putin", "Peter Vesterbacka", "Timo Rally", "Emotional Table", "Bill Gates", "Elon Musk", "Mark Zuckerberg", "Ayn Rand", "Karl Marx", "David Ben-Gurion", "Ekaterina Shulman"]})

In [3]:
# Create some random grades and add them to the dataframe
rel_grades = []
irrel_grades = []
for i in range(names.shape[0]):
    rel_grades.append(round(random.uniform(0, 5), 3))
    irrel_grades.append(round(random.uniform(0, 5), 3))

In [4]:
# Create the table with grades
names["relevant_grades"] = rel_grades
names["irrelevant_grades"] = irrel_grades
print(names)

                 name  relevant_grades  irrelevant_grades
0        Roman Tsypin            3.502              0.121
1       Eric Telkkälä            3.175              4.104
2           Topi Aila            2.047              0.964
3   Samantha Bergdahl            0.786              3.376
4        Cezar Budeci            2.539              1.304
5     Tuuli Tapaninen            0.690              1.417
6     Kaisa Otterklau            0.742              2.613
7      Humble Harambe            1.691              1.295
8      Moms Spaghetti            4.499              3.057
9         Sanna Marin            2.666              2.592
10         Wide Putin            4.914              2.843
11  Peter Vesterbacka            0.677              1.729
12         Timo Rally            2.398              2.329
13    Emotional Table            4.810              4.922
14         Bill Gates            0.126              1.359
15          Elon Musk            0.368              0.790
16    Mark Zuckerberg            1.657              2.336
17           Ayn Rand            1.517              1.397
18          Karl Marx            2.506              0.757
19   David Ben-Gurion            2.522              0.167
20  Ekaterina Shulman            1.286              2.434

In [5]:
# Calculating rating for students and adding it to the table
rating = []
for i in range(names.shape[0]):
    rating.append(rate(names.iloc[i]["relevant_grades"], names.iloc[i]["irrelevant_grades"]))
names["rating"] = rating
print(names)

                 name  relevant_grades  irrelevant_grades   rating
0        Roman Tsypin            3.502              0.121   7.0645
1       Eric Telkkälä            3.175              4.104   8.4020
2           Topi Aila            2.047              0.964   4.5760
3   Samantha Bergdahl            0.786              3.376   3.2600
4        Cezar Budeci            2.539              1.304   5.7300
5     Tuuli Tapaninen            0.690              1.417   2.0885
6     Kaisa Otterklau            0.742              2.613   2.7905
7      Humble Harambe            1.691              1.295   4.0295
8      Moms Spaghetti            4.499              3.057  10.5265
9         Sanna Marin            2.666              2.592   6.6280
10         Wide Putin            4.914              2.843  11.2495
11  Peter Vesterbacka            0.677              1.729   2.2185
12         Timo Rally            2.398              2.329   5.9605
13    Emotional Table            4.810              4.922  12.0810
14         Bill Gates            0.126              1.359   0.9315
15          Elon Musk            0.368              0.790   1.1310
16    Mark Zuckerberg            1.657              2.336   4.4820
17           Ayn Rand            1.517              1.397   3.7325
18          Karl Marx            2.506              0.757   5.3905
19   David Ben-Gurion            2.522              0.167   5.1275
20  Ekaterina Shulman            1.286              2.434   3.7890

In [6]:
# Sorting the table by rating
names_sorted = names.sort_values("rating", ascending = False, ignore_index = True)
print(names_sorted)

                 name  relevant_grades  irrelevant_grades   rating
0     Emotional Table            4.810              4.922  12.0810
1          Wide Putin            4.914              2.843  11.2495
2      Moms Spaghetti            4.499              3.057  10.5265
3       Eric Telkkälä            3.175              4.104   8.4020
4        Roman Tsypin            3.502              0.121   7.0645
5         Sanna Marin            2.666              2.592   6.6280
6          Timo Rally            2.398              2.329   5.9605
7        Cezar Budeci            2.539              1.304   5.7300
8           Karl Marx            2.506              0.757   5.3905
9    David Ben-Gurion            2.522              0.167   5.1275
10          Topi Aila            2.047              0.964   4.5760
11    Mark Zuckerberg            1.657              2.336   4.4820
12     Humble Harambe            1.691              1.295   4.0295
13  Ekaterina Shulman            1.286              2.434   3.7890
14           Ayn Rand            1.517              1.397   3.7325
15  Samantha Bergdahl            0.786              3.376   3.2600
16    Kaisa Otterklau            0.742              2.613   2.7905
17  Peter Vesterbacka            0.677              1.729   2.2185
18    Tuuli Tapaninen            0.690              1.417   2.0885
19          Elon Musk            0.368              0.790   1.1310
20         Bill Gates            0.126              1.359   0.9315

In [7]:
# Try grouping with different min and max members:

min_memb = 4
max_memb = 5
alpha_interval = 0
example = grouping(names_sorted, min_memb, max_memb)
while example["group" + str(len(example) - 1)].shape[0] < min_memb:
    alpha_interval = alpha_interval + 0.05
    alpha = round(random.uniform(-alpha_interval, alpha_interval), 3)
    example = grouping(names_sorted, min_memb, max_memb, alpha)
for i in example:
    print(example[i])

              name  relevant_grades  irrelevant_grades   rating  distance
0  Emotional Table            4.810              4.922  12.0810    0.0000
1       Wide Putin            4.914              2.843  11.2495    0.8315
2   Moms Spaghetti            4.499              3.057  10.5265    0.7230
3    Eric Telkkälä            3.175              4.104   8.4020    2.1245
           name  relevant_grades  irrelevant_grades  rating  distance
4  Roman Tsypin            3.502              0.121  7.0645    1.3375
5   Sanna Marin            2.666              2.592  6.6280    0.4365
6    Timo Rally            2.398              2.329  5.9605    0.6675
7  Cezar Budeci            2.539              1.304  5.7300    0.2305
                name  relevant_grades  irrelevant_grades  rating  distance
8          Karl Marx            2.506              0.757  5.3905    0.3395
9   David Ben-Gurion            2.522              0.167  5.1275    0.2630
10         Topi Aila            2.047              0.964  4.5760    0.5515
11   Mark Zuckerberg            1.657              2.336  4.4820    0.0940
                 name  relevant_grades  irrelevant_grades  rating  distance
12     Humble Harambe            1.691              1.295  4.0295    0.4525
13  Ekaterina Shulman            1.286              2.434  3.7890    0.2405
14           Ayn Rand            1.517              1.397  3.7325    0.0565
15  Samantha Bergdahl            0.786              3.376  3.2600    0.4725
                 name  relevant_grades  irrelevant_grades  rating  distance
16    Kaisa Otterklau            0.742              2.613  2.7905    0.4695
17  Peter Vesterbacka            0.677              1.729  2.2185    0.5720
18    Tuuli Tapaninen            0.690              1.417  2.0885    0.1300
19          Elon Musk            0.368              0.790  1.1310    0.9575
20         Bill Gates            0.126              1.359  0.9315    0.1995